<!DOCTYPE html>
<html ng-app='hemasys'>
  <head>
		<meta charset="UTF-8">
		<link rel="stylesheet" type="text/css" href="css/materialize.min.css" />
    <link rel="stylesheet" type="text/css" href="assets/jquery-ui/jquery-ui.min.css">
    <link rel="stylesheet" type="text/css" href="assets/jquery-ui/themes/smoothness/jquery-ui.css">
    <link rel="stylesheet" type="text/css" href="assets/font-awesome/css/font-awesome.min.css" />
    <link rel="stylesheet" type="text/css" href="assets/primeui/primeui.min.css" />
    <link rel="stylesheet" type="text/css" href="assets/primeui/themes/smoothness/theme.css" />
		<script src="jquery.min.js"></script>
    <script src="assets/js/components/scripts.js"></script>
		<script src="js/materialize.min.js"></script>
		<script src="assets/js/view/DN009.js"></script>
  </head>
  <style>
    .UIboxborder{
      border:1px #999 solid;
      padding:5px;
    }

    .input-field label {
      color: #333;
    }

    label {
      color: #333;
    }

    .input-field input[type=text]:focus + label {
      color: #333;
    }
  </style>
  <body>
    <div ng-controller="searchPlanCtrl">
  		<!-- Collection Point List -->
  	  <div id="collectionlist" class="modal" >
        <div class="modal-content">
          <h4>List of collection points</h4>
          <p>Choice:
        	  <input name="group1" type="radio" id="test1" checked/>
            <label for="test1">Site</label>

        	  <input name="group1" type="radio" id="test2"/>
            <label for="test2">Regroupment</label>

  	        <input name="group1" type="radio" id="test3"/>
            <label for="test3">Centre</label>

  	        <input name="group1" type="radio" id="test4"/>
            <label for="test4">All</label>
  	      </p>

      	  <div>Filter</div>

      	  <div class="input-field">
      			<label>Code</label><input type="text" id="searchfilter" ng-model="searchfilter" uppercase string-and-number>
      	  </div>

          <div class="collection" style="height: 280px;overflow: auto;">
            <table class="highlight">
              <thead>
                 <tr><td class="grey lighten-3">Code</td><td class="grey lighten-3">Description</td></tr>
              </thead>
              <tbody>
                <tr class="colitem" ng-repeat="item in collection_point_list | filter: searchfilter | filter: COLLECTION_POINT_CODE" ng-click="selectedRow(item)">
                  <td>{{ item.COLLECTION_POINT_CODE }}</td>
                  <td>{{ item.LOCATION_NAME }}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>

        <div class="modal-footer">
    		  <a href="#!" ng-click="closeModal(false)" class=" modal-action modal-close waves-effect waves-green btn-flat">Abort</a>
          <a href="#!" ng-click="closeModal(true)" class=" modal-action modal-close waves-effect waves-green btn green">Ok</a>
        </div>
      </div>

      <div id="planlist" class="modal" >
        <div class="modal-content">
          <h4>Planning List</h4>
          <p>Choice:
        	  <input name="group2" type="radio" id="test5" checked/>
            <label for="test5">Site</label>

        	  <input name="group2" type="radio" id="test6"/>
            <label for="test6">Regroupment</label>

  	        <input name="group2" type="radio" id="test7"/>
            <label for="test7">Centre</label>

  	        <input name="group2" type="radio" id="test8"/>
            <label for="test8">All</label>
  	      </p>

      	  <div class="input-field">
      			<label>Start Date</label><input type="text" id="searchfilter2" ng-model="searchfilter2">
      	  </div>

          <div style="height: 200px; overflow: scroll;">
          	<table class="highlight">
              <thead>
                 <tr><td class="grey lighten-3">Date</td><td class="grey lighten-3">Description</td></tr>
              </thead>
              <tbody>
                <tr class="colitem" ng-repeat="item in collection_point_list2 | filter: searchfilter2" ng-click="selectedRow2(item)">
                  <td>{{ item.start_date }}</td>
                  <td>{{ item.LOCATION_NAME }}</td>
                </tr>
              </tbody>
          	</table>
          </div>
        </div>

        <div class="modal-footer">
          <a href="#!" ng-click="closeModal2(false)" class="modal-action modal-close waves-effect waves-green btn-flat">Abort</a>
          <a href="#!" ng-click="closeModal2(true)" class="modal-action modal-close waves-effect waves-green btn green">Ok</a>
        </div>
      </div>

  		<nav class="red lighten-2">
  		  <a href="#" class="brand-logo"> &nbsp;NBCSys</a>
    		<ul class="right hide-on-med-and-down">
          <li><a href="sass.html" class="btn grey">Logout</a></li>
    		</ul>
  		  <div class="right">&nbsp; ชื่อชื่อชื่อ นามสกุลนามสกุล</div>

  		  <div class="right-align ">
    			<div class="valign-wrapper right">
    				<img src="images/profile1.jpg" class="circle valign" style="width: 40px;">
    			</div>
  		  </div>
      </nav>

  	  <br><br>

      <div class="container">
      	<h4>Search for planning file</h4>
        <div class="row">
          <div class="input-field col s3 ">
            <label for="code" class="col-sm-3 control-label">Code</label>
            <input type="text" class="form-control" id="code" ng-model="COLLECTION_POINT_CODE" max-length="6" uppercase  placeholder="">
          </div>

          <div class="form-group col s2 ">
            <br>
              <button
                class="modal-trigger btn grey"
                href="#collectionlist"
                ng-click="searchCollectionPointList()"> >> </button>
          </div>

          <div class="input-field col s6 blue-text text-darken-2 left-align">
            <p>{{ list_selected.LOCATION_NAME }}</p>
          </div>

          <div class="input-field padding col s12">
            <label for="" class="">Planning Date</label>
            <input type="text" class="form-control" id="plandate" ng-model="plandate" date-input placeholder="">
          </div>
        </div>
      </div>

  		<footer class="page-footer red lighten-2">
  			<div class="container">
    			<div class="row center-align ">

            <div class="row">
              <div class="col s4">
                <button class="btn grey" type="">Create</button>
              </div>
              <div class="col s4">
                <button
                  class="btn grey modal-trigger"
                  ng-class="{ disabled: !(COLLECTION_POINT_CODE.length==6 || plandate) }"
                  ng-disabled="!(COLLECTION_POINT_CODE.length==6 || plandate)"
                  ng-href="{{ (COLLECTION_POINT_CODE.length==6 || plandate) ? '#planlist' : '#' }}"
                  ng-click="search()">Search</button>
              </div>
              <div class="col s4">
                <button class="btn grey" type="">Exit</button>
              </div>
            </div>
    			</div>
  			</div>
        <div class="footer-copyright">
          <div class="container">
            <p>© 2016 สงวนลิขสิทธิ์โดย ศูนย์บริการโลหิตแห่งชาติ สภากาชาดไทย เลขที่ 1871 ถ.อังรีดูนังต์ ปทุมวัน กรุงเทพฯ 10330</p><br>
    			  <p>© 2016 Copyright by National Blood Centre, The Thai Red Cross Society 1871 Henry Dunant Rd., Patumwan Bangkok, 10330</p>
    			</div>
  			</div>
  	  </footer>
    </div>
  </body>
</html>
