<html ng-app="app">
  <header>
    <meta charset="UTF-8"></meta>
    <title></title>
    <script data-require="angular.js@1.3.9" data-semver="1.3.9" src="assets/js/angular.js"></script>
    <link rel="stylesheet" type="text/css" href="assets/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="assets/css/bootstrap-theme.min.css">

    <style>
      .table-scrolled {
        max-height: 170px !important;
        overflow-y: auto;
      }

      .margin {
        margin: 2px 2px 2px 2px;
      }

      .border-left {
        border-left: 2px solid black;
      }

      .border-right {
        border-right: 2px solid black;
      }

      .border-top {
        border-top: 2px solid black;
      }

      .border-bottom {
        border-bottom: 2px solid black;
      }

      .border {
        border: 2px solid black;
      }
    </style>

    <script>
      var app = angular.module('app',[]);
      app.controller('questionnaireCtrl', function($scope) {
        $scope.old = ''

        $scope.donor = {
          id: '12341234',
          fullname: 'Mr. ชลาลัย จงรักษ์',
          dob: '2000-10-10',
          blood_group: 'ABOD B+'
        };

        $scope.calculatedAge = function() {
          var current = new Date();
          var dob = new Date($scope.donor.dob)

          return current.getFullYear()-dob.getFullYear();
        };

        $scope.questionnaires = [
          { question: "Questionnaire NBC 1", answer: "Y", fulltext: "Yes" },
          { question: "Questionnaire NBC 2", answer: "Y", fulltext: "Yes" },
          { question: "Questionnaire NBC 3", answer: "N", fulltext: "No" },
          { question: "Questionnaire NBC 4", answer: "Y", fulltext: "Yes" },
          { question: "Questionnaire NBC 5", answer: "Y", fulltext: "Yes" },
          { question: "Questionnaire NBC 6", answer: "Y", fulltext: "Yes" },
          { question: "Questionnaire NBC 7", answer: "S", fulltext: "Stem Cell registration" }
        ];

        $scope.comments = [
          { date: '2011-02-01', comment: 'text1' },
          { date: '2011-02-02', comment: 'text2' },
          { date: '2011-02-03', comment: 'text3' }
        ]
      });
    </script>
  </header>
  <body class="container" ng-controller="questionnaireCtrl">
    <div class="row">
      <div class="col-md-3">
        Hematos No {{ donor.id }}
      </div>
      <div class="col-md-4">
        <input type="text" ng-value="donor.fullname" ng-disabled="true" class="form-control">
      </div>
      <div class="col-md-3">
        <div class="input-group">
          <input type="text" ng-value="donor.dob" ng-disabled="true" class="form-control">
          <span class="input-group-addon">
            ({{ calculatedAge() }} years)
          </span>
        </div>
      </div>
      <div class="col-md-2">
        <input type="text" ng-value="donor.blood_group" ng-disabled="true" class="form-control">
      </div>
    </div>

    <div class="row">&nbsp;</div>

    <div class="row">
      <div class="col-md-6">
        <div class="row">
          <div class="col-md-12"> <label>Questionnaire</label> </div>
        </div>

        <div class="row">
          <div class="col-md-12">
            <div class="input-group">
              <input type="text" class="form-control">
              <span class="input-group-btn">
                <button class="btn btn-default" type="button">Search</button>
              </span>
            </div>
          </div>
        </div>

        <div class="row">&nbsp;</div>

        <div class="row">
          <div class="col-md-6"> <label>Questionnaire NBC</label> </div>
          <div class="col-md-6"></div>
        </div>

        <div class="row" ng-repeat="question in questionnaires">
          <div class="col-md-1">
            {{ $index + 1 }}
          </div>
          <div class="col-md-7">
            {{ question.question }}
          </div>
          <div class="col-md-2">
            <input type="text" class="form-control" ng-value="question.answer">
          </div>
          <div class="col-md-2">
            {{ question.fulltext }}
          </div>
        </div>

        <div class="row">&nbsp;</div>

        <div class="row">
          <div class="col-md-12">
            <button class="btn btn-primary pull-right">Edit</button>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="row">
          <div class="col-md-12"> <label>Comment</label> </div>
        </div>

        <div class="row">
          <div class="col-md-12 table-scrolled">
            <table class="table table-striped table-bordered">
              <tr ng-repeat="comment in comments">
                <td>{{ comment.date }}</td>
                <td>{{ comment.comment }}</td>
              </tr>
            </table>
          </div>
        </div>

        <div class="row">
          <div class="col-md-12"> <label>Exams</label> </div>
        </div>

        <div class="row">
          <div class="col-md-12 table-scrolled">
            <div class="input-group">
              <span class="input-group-addon">
                <input type="checkbox">
              </span>
              <input type="text" class="form-control">
            </div>
          </div>
          <div class="col-md-12">
            <button class="pull-right margin btn btn-danger">Remove</button>
            <button class="pull-right margin btn btn-success">Add</button>
          </div>
        </div>
      </div>
    </div>

    <div class="row">&nbsp;</div>

    <div class="row">
      <div class="col-md-6">
        <div class="row">
          <div class="col-md-9"> <label>Deferral ressons</label> </div>
          <div class="col-md-3"> <label>End date</label> </div>
        </div>

        <div class="row table-scrolled">
          <div class="col-md-9">
            <div class="row">
              <div class="col-md-1">
                <input type="checkbox">
              </div>
              <div class="col-md-4">
                <input type="text" value="D005" ng-disabled="true" class="form-control">
              </div>
              <div class="col-md-7">
                <input type="text" value="All" ng-disabled="true" class="form-control">
              </div>
            </div>
          </div>
          <div class="col-md-3">
            <input type="text" value="27-Apr-2560" ng-disabled="true" class="form-control">
          </div>
        </div>

        <div class="row">&nbsp;</div>

        <div class="row">
          <div class="col-md-12">
            <button type="button" class="btn btn-primary pull-right margin">Edit</button>
            <button type="button" class="btn btn-success pull-right margin">Add</button>
          </div>
        </div>

        <div class="row">&nbsp;</div>

        <div class="row">
          <div class="col-md-3"><label>Date exclusion starts</label></div>
          <div class="col-md-4"><label>Deferral type</label></div>
          <div class="col-md-2"><label>Duration</label></div>
          <div class="col-md-3"><label>End date</label></div>
        </div>

        <div class="row">
          <div class="col-md-3">
            <input class="form-control" type="text" value="27-Apr-2559">
          </div>
          <div class="col-md-4">
            <select class="form-control">
              <option value="1">Temporary1</option>
              <option value="2">Temporary2</option>
              <option value="3">Temporary3</option>
            </select>
          </div>
          <div class="col-md-2">
            <input class="form-control" type="text" value="365">
          </div>
          <div class="col-md-3">
            <input class="form-control" type="text" value="27-Apr-2560">
          </div>
        </div>

        <div class="row">&nbsp;</div>

        <div class="row">
          <div class="col-md-3"><label>Comment</label></div>
          <div class="col-md-9">
            <input type="text" class="form-control">
          </div>
        </div>

        <div class="row">&nbsp;</div>

        <div class="row">
          <div class="col-md-4"><label>Medical history</label></div>
          <div class="col-md-4"><label>Start date</label></div>
          <div class="col-md-4"><label>End date</label></div>
        </div>

        <div class="row table-scrolled">
          <div class="col-md-4">
            <div class="input-group">
              <span class="input-group-addon">
                <input type="checkbox">
              </span>
              <input type="text" class="form-control">
            </div>
          </div>
          <div class="col-md-4">
            <input type="text" class="form-control">
          </div>
          <div class="col-md-4">
            <input type="text" class="form-control">
          </div>
        </div>

        <div class="row">&nbsp;</div>

        <div class="row">
          <div class="col-md-12">
            <button type="button" class="btn btn-primary pull-right margin">Edit</button>
            <button type="button" class="btn btn-success pull-right margin">Add</button>
          </div>
        </div>

      </div>
      <div class="col-md-6">
        <div class="row">
          <div class="col-md-12"> <label>Present of comment(s)</label> </div>
        </div>

        <div class="row">
          <div class="col-md-7">
            <div class="row">
              <div class="col-md-3">Date</div>
              <div class="col-md-9">
                <div class="input-group">
                  <span class="input-group-addon">
                    27-Apr-2559
                  </span>
                  <input type="text" class="form-control">
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-md-3">Pressure</div>
              <div class="col-md-9">
                <div class="form-inline">
                  <input type="text" class="form-control" style="width:60px;"> / <input type="text" class="form-control" style="width:60px;">
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-md-3">Pulse rate</div>
              <div class="col-md-9">
                <input type="text" class="form-control">
              </div>
            </div>

            <div class="row">
              <div class="col-md-3">Temperature</div>
              <div class="col-md-9">
                <input type="text" class="form-control">
              </div>
            </div>

            <div class="row">
              <div class="col-md-3">Height</div>
              <div class="col-md-9">
                <div class="input-group">
                  <input type="text" class="form-control">
                  <div class="input-group-addon">Cm</div>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-md-3">Weight</div>
              <div class="col-md-9">
                <div class="input-group">
                  <input type="text" class="form-control">
                  <div class="input-group-addon">Kg</div>
                </div>

              </div>
            </div>

            <div class="row">
              <div class="col-md-3">Outcome</div>
              <div class="col-md-9">
                <select class="form-control">
                  <option value="1">Outcome 1</option>
                  <option value="2">Outcome 2</option>
                  <option value="3">Outcome 3</option>
                </select>
              </div>
            </div>

            <div class="row">
              <div class="col-md-3">Category</div>
              <div class="col-md-9">
                <select class="form-control">
                  <option value="1">Category 1</option>
                  <option value="2">Category 2</option>
                  <option value="3">Category 3</option>
                </select>
              </div>
            </div>

            <div class="row">
              <div class="col-md-3">Bag type</div>
              <div class="col-md-3">
                <input type="text" value="8" class="form-control">
              </div>
              <div class="col-md-6">
                {{ 'CPD-A1 DOUBLE BAG TRC 450 mL.' }}
              </div>
            </div>

            <div class="row">
              <div class="col-md-3">Use</div>
              <div class="col-md-9">
                <select class="form-control">
                  <option value="1">Use 1</option>
                  <option value="2">Use 2</option>
                  <option value="3">Use 3</option>
                </select>
              </div>
            </div>

            <div class="row">
              <div class="col-md-3">Volume</div>
              <div class="col-md-3">
                <input type="text" value="450" class="form-control">
              </div>
              <div class="col-md-6"> Sample number </div>
            </div>
          </div>

          <div class="col-md-5">
            <div class="row">
              <div class="col-md-8"> Chart print-out </div>
              <div class="col-md-4">
                <input type="checkbox">
              </div>
            </div>

            <div class="row">
              <div class="col-md-4"> Hb </div>
              <div class="col-md-8">
                <input type="text" class="form-control">
              </div>
            </div>

            <div class="row">
              <div class="col-md-4"> Pll </div>
              <div class="col-md-8">
                <input type="text" class="form-control">
              </div>
            </div>

            <div class="row">
              <div class="col-md-4"> Hb Test </div>
              <div class="col-md-8">
                <input type="text" class="form-control">
              </div>
            </div>

            <div class="row">
              <div class="col-md-4"> Heart/Lung </div>
              <div class="col-md-8">
                <input type="text" class="form-control">
              </div>
            </div>

            <div class="row">
              <div class="col-md-12"> B.S.A 0.00 m2 </div>
            </div>

          </div>
        </div>
      </div>
    </div>
  </body>

  .<br />
  .<br />
  .<br />
  .<br />
  .<br />
  .<br />
  .<br />
  .<br />
  .<br />
  .<br />
  .<br />
  .<br />
  .<br />
  .<br />
  .<br />
  .<br />
  .<br />
  .<br />

</html>
