@font-face {
    font-family: LeelawadeeUI;
    src: url(../fonts/leelawadee/LeelawUI.ttf);
}

@font-face {
    font-family: LeelawadeeUIBold;
    src: url(../fonts/leelawadee/LeelaUIb.ttf);
    font-weight:bold;
}

nav, body, a, div, td, p, li, h1, h2, h3, h4, h5, h6, span, small, strong {
    font-family: LeelawadeeUI;
}

a {
  font-size:inherit;
  font-weight:inherit;
}

.hamburger {
  font-size:1.5em;
  width:50px !important;
  text-align:center;
  padding:0 !important;
}

.mainnavlink {
  display:inline-block;
  height:50px !important;
  line-height:35px !important;
  min-width:50px; padding:0 10px;
}

a.mainnavlink {
}

.main-nav {
  position:fixed; top:0; right:0;
  width:100%;
  height:50px !important;
  clear:both;
  z-index:10;
  font-size:20px !important;
}

  nav .sitename {
    font-size:26px !important;
    font-weight:bold; 
    position:relative;
  }

section {
  position:relative;top:0;
}

.page-wrapper {
  width:1180px !important; margin: 0 auto;
  position:relative; top:0;
}

.page-container {
  margin:10px 0;
}

section.body, .section-body {
  padding-top: 60px;
}


footer {
  padding: 10px 0;
}

.clearboth {
  clear:both;
}

.inline {
  display:inline;
}

  ul.inline li {
    display:inline;
    list-style:none;
    margin:0;
    padding:0;
  }

.centervert {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.row:after,.row:before, row:after, row:before{
  display:table;content:" ";
}


.UIrow, row {
  display:flex; 
  padding:5px 0;
}

  .trim, row ul, .UIrow ul {
    margin:0; padding:0;
  }
  
  .UIrow li, row ul li {
    display:inline;
  }
  
  
  .trim li {
    display:inline-block;
  }
  
  row ul.trim li {
    float:left;
  }

  li.UItile, a.UItile, .UIbutton {
    display:inline-block;
  }

  li.UItile, a.UItile, .UIbutton, .UIblock {
    float:left !important;
    overflow:auto;
    margin-left:10px;
    margin:5px 10px;
    margin-right:0;
    position:relative;
  }

  li.UItile, a.UItile {
    width:170px;
    height:170px;
  }

  .UIbutton, button {
    min-width:50px;
    height:50px;
  }
  .UIbutton-inline, button.inline {
    min-width:35px;
    height:35px;
  }

  .UIbutton, button, .UIbutton-inline, button.inline {
    font-size:1.5em;
    display:inline-block;
  }

.input-group,.input-group span,.input-group input {
  height:35px;
}
  .input-inline input, .input-inline span, .input-inline button  {
    height:34px !important;
  }
  .input-inline {
    height:26px !important; 
  }
  


.input-group span, .input-group input,.input-group button {
  font-size:20px !important;
} 


.input-inline button {
  
}
    
    .UIbutton span {
      line-height:48px;
      font-size:24px;
    }
    .UIbutton:hover, button:hover {
      cursor:pointer;
    }

  .UItile [class^="mif-"] {
    font-size:5em;
    position: relative; top: 45%;
    transform: translateY(-50%);
  }

  .tile-active {
    cursor:pointer;
  }

  .tile-disable {
    cursor:pointer;
  }

  .tile-caption {
    position:absolute; bottom:0; 
    display:block; width:100%; 
    padding-bottom:0.5em; 
    font-size:20px; line-height:24px;
  }
  .tile-badge {
    position:absolute; top:0.5em; right:0.75em;
    display:block; font-size:1.5em;
  }


.goto-navi {
  height:50px !important;
}




row {
  display:flex;
}

.row-topic {
  height:100px;
}

.row-control {
  padding-top:40px;
}

.col, col, cell, tile, .tile {
  display:block;
  overflow:auto;
  margin-left:10px;
}
tile, .tile, tile.wide, .tile-wide, .tile-like {
  float:left;
  margin:5px 10px;
  margin-right:0;
  position:relative;
  outline: 3px;
  outline-color: transparent !important;
}

.tile-wide, .tile-like {
}

 
tile, .tile {
  width:170px;
  height:170px;
}

tile.wide, .tile-wide {
  width:350px;
  height:170px;
}
tile.small, .tile-small {
  width:80px;
  height:80px;
}
tile.tiny, tile-tiny {
  width:50px;
  height:50px;
  margin-right:30px;
}
tile [class^="mif-"] {
  font-size:5em;
  position: relative; top: 45%;
  transform: translateY(-50%);
}

.tile-groupname {
  text-align:left;
  font-size:30px;
  line-height:30px;
  padding-top:20px;
}



.mainmenu-tile {
  cursor:pointer;
}

.align-left {
  text-align:left;
}

.col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, 
.col-8, .col-9, .col-10, .col-11, .col-12, .col-13 {
}


/*
 * Columning, spaning and offsetting
 */

.span-1 {
  width:80px !important;
}
.span-2 {
  width:170px !important;
}
.span-3 {
  width:260px !important;
}
.span-4 {
  width:350px !important;
}
.span-5 {
  width:440px !important;
}
.span-6 {
  width:530px !important;
}
.span-7 {
  width:620px !important;
}
.span-8 {
  width:710px !important;
}
.span-9 {
  width:800px !important;
}
.span-10 {
  width:890px !important;
}
.span-11 {
  width:980px !important;
}
.span-12 {
  width:1070px !important;
}
.span-13 {
  width:1160px !important;
}

.offset-1 {
  margin-left:100px !important;
}
.offset-2 {
  margin-left:190px !important;
}
.offset-3 {
  margin-left:280px !important;
}
.offset-4 {
  margin-left:370px !important;
}
.offset-5 {
  margin-left:460px !important;
}
.offset-6 {
  margin-left:550px !important;
}
.offset-7 {
  margin-left:640px !important;
}
.offset-8 {
  margin-left:730px !important;
}
.offset-9 {
  margin-left:820px !important;
}
.offset-10 {
  margin-left:910px !important;
}
.offset-11 {
  margin-left:1000px !important;
}
.offset-12 {
  margin-left:1090px !important;
}



/*
 * Condended columning, spaning and offsetting
 */



.span-1c {
  width:90px !important;
}
.span-2c {
  width:180px !important;
}
.span-3c {
  width:270px !important;
}
.span-4c {
  width:360px !important;
}
.span-5c {
  width:450px !important;
}
.span-6c {
  width:540px !important;
}
.span-7c {
  width:630px !important;
}
.span-8c {
  width:720px !important;
}
.span-9c {
  width:810px !important;
}
.span-10c {
  width:900px !important;
}
.span-11c {
  width:990px !important;
}
.span-12c {
  width:1080px !important;
}
.span-13c {
  width:1180px !important;
}


.offset-1c {
  margin-left:90px !important;
}
.offset-2c {
  margin-left:180px !important;
}
.offset-3c {
  margin-left:270px !important;
}
.offset-4c {
  margin-left:360px !important;
}
.offset-5c {
  margin-left:450px !important;
}
.offset-6c {
  margin-left:540px !important;
}
.offset-7c {
  margin-left:630px !important;
}
.offset-8c {
  margin-left:720px !important;
}
.offset-9c {
  margin-left:810px !important;
}
.offset-10c {
  margin-left:900px !important;
}
.offset-11c {
  margin-left:9900px !important;
}
.offset-12c {
  margin-left:1080px !important;
}



input {
  height:35px;
  font-size:1.5em;
}

.inline-input-group {
  
}
  .inline-input-group label {
    
  }

.btn {
  padding:0 !important;
  min-width:35px;
  min-height:35px;
}

.floatleft {
  float:left !important;
}