body {
  background:#646473 url(../../images/hemasys-bg.png) top right fixed no-repeat;
  margin:0; padding:0;
}


.ui-datepicker-trigger{
	display: none;
}
.table-overflow-x{
	overflow-x: auto;
	margin-right: 10px;
}

.fg-red{
	color: #a94442;
}

.main-btn{
	width: 150px;
}
.clearfix{
	margin-bottom: 10px;
}

textarea{
	resize: none;
}

.align-center {
  text-align:center;
}
.clearboth {
  clear:both;
}


.input-field {
  position:relative;margin:1em 0;
  width:100%;
}
.input-field label {
  color:#999999;
  position:absolute; top:0.7em;left:0em;
  font-size:1em; cursor:text;
  transition:.2s ease-out
}
.input-field label.active {
  font-size: 0.8em;
  -webkit-transform:translateY(-120%);
  transform:translateY(-120%)
}


.input-field input {
  background:#ffffff;
}

.snackbar {
	visibility: hidden; 
	min-width: 250px; 
	margin-left: -125px; 
	background-color: #333; 
	color: #fff; 
	text-align: center;
	border-radius: 2px; 
	padding: 16px;
	position: fixed; 
	z-index: 1; 
	left: 50%; 
	bottom: 30px; 
}

.show {
	visibility: visible !important; /* Show the snackbar */

	-webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
	animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

@-webkit-keyframes fadein {
	from {bottom: 0; opacity: 0;} 
	to {bottom: 30px; opacity: 1;}
}

@keyframes fadein {
	from {bottom: 0; opacity: 0;}
	to {bottom: 30px; opacity: 1;}
}

@-webkit-keyframes fadeout {
	from {bottom: 30px; opacity: 1;} 
	to {bottom: 0; opacity: 0;}
}

@keyframes fadeout {
	from {bottom: 30px; opacity: 1;}
	to {bottom: 0; opacity: 0;}
}