

body {
  height: 100%;
}
nav.main-nav {
  background:#CE352C;
  color:#ffffff;
}
.container {
  margin-top: 20px;
}
.container.content {
  margin-top: 40px;
  margin-bottom: 40px;
}
/*
input[type="text"],
textarea {
  border: 1px solid #ddd;
  border-radius: 3px;
  padding: 5px 10px;
}
*/

.center {
  text-align:center;
}

.text-white {
  color:#ffffff; 
}
#dn016 .button-actions {
  padding-top: 40px;
  padding-bottom: 20px;
}
#dn016 .button-actions .btn {
  margin-bottom: 20px;
}
#dn056 .search {
  padding: 12px;
}
#dn056 .tab-content {
  padding: 15px;
  margin-bottom: 20px;
  border-left: 1px solid #dddddd;
  border-bottom: 1px solid #dddddd;
  border-right: 1px solid #dddddd;
}
#dn056 .tab-content .form-inline input[type="text"] {
  margin: 0 8px;
}
#dn056 .tab-content .table tr th {
  background-color: #eeeeee;
}
#dn056 .tab-content .left-panel,
#dn056 .tab-content .right-panel {
  padding-top: 10px;
  padding-bottom: 10px;
}
#dn056 .tab-content .left-panel .inner,
#dn056 .tab-content .right-panel .inner {
  padding: 10px;
  border: 1px solid #dddddd;
  border-radius: 3px;
  display: inline-block;
  width: 100%;
}
#dn017 .actions {
  padding: 25px 20px;
  border-radius: 4px;
  background-color: #eeeeee;
  margin-bottom: 20px;
}
#dn022 table tr th {
  border: none;
  text-align: center;
}
#dn022 table tr td {
  border: none;
}
#dn022 table tr td input[type="text"] {
  width: 45px;
  text-align: center;
}
#dn022 table.table-re tr td input[type="text"] {
  width: auto;
}
#dn022 table.table-re-2 tr td input[type="text"] {
  width: 100%;
}
#dn022 .exit {
  padding: 20px 0;
}
#dn023 table tr th {
  background-color: #eeeeee;
}
#dn057 .panel-heading-width {
  display: inline-block;
  width: 100%;
}
#dn057 .panel-heading-width .glyphicon {
  font-size: 24px;
  margin: 0 5px;
}
#dn057 .filter .radio label input[type="radio"] {
  margin: 0 5px;
}
#dn057 .filter .table tr th {
  background-color: #eeeeee;
}


/* ------- colouring ---- */
/* pallet from: http://paletton.com/#uid=75B0u0ksmuh1X3YfAkBTdLj++GA */
/* match with NBC's logo by programme's logic */

.bg-color1, .bg-bloodred, .bg-red {
  background-color:#ED1B24;
}
.bg-color2, .bg-orange {
  background-color:#F1781C;
}
.bg-color3, .bg-teal {
  background-color:#11948B
;
}
.bg-color4, .bg-leafgreen, .bg-green {
  background-color:#27C617;
}